ion-content {
    --overflow: hidden;
}

ion-button {
  width: 55%;
  height: 5rem;
  font-weight: 300;
  font-size: 2rem;
}

ion-input {
  --color: #008a25;
  --placeholder-font-weight: 2000;
  height: 50px;
  font-size: 1.5rem;
}

.center-all {
  margin-top: 50%;
}
