<ion-header>
  <ion-toolbar>
    <ion-title> Login Page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <h2>Login</h2>
    </ion-item>
    <br />
    <div class="items">
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Username" [(ngModel)]="username">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"> </ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-item lines="none">
      <ion-button size="large" (click)="login()">
        Login
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
