ion-button {
  width: 75%;
  height: 5rem;
  background-color: #008a25;
  color: white;
  text-align: center;
}

p {
  color: #008a25;
  text-align: center;
}

.info {
  width: 70%;
  height: 15%;
}

.center-all {
  margin-top: 10%;
}


#text {
  z-index: 10;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
