ion-button {
  width: 75%;
  height: 5rem;
  background-color: #008a25;
  color: white;
  text-align: center;
  border-radius: 20px;
}

p {
  color: #008a25;
  text-align: center;
}

.info {
  width: 70%;
  height: 15%;
}

.center-all {
  margin-top: 10%;
}

.user-selection {
  background: #008a25;
}

.submit-btn {
  border-radius: 20px;
  height: 3rem;
  width: 5rem;
}

