<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Welcome {{user.name}} </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <h1 style="text-align: center; margin-top: 15%">Aussie Sport <br> Knowledge</h1>

  <div
    class="center-text menu-styling"
    style="margin-top: 60px"
    [hidden]="menuHidden"
  >
    <ion-button (click)="showOpts()" size="large"> Solo </ion-button>

    <ion-button style="margin-top: 20px" (click)="navToMulti()" size="large">
      Multiplayer
    </ion-button>

    <ion-button style="margin-top: 20px" (click)="navToLeader()" size="large">
      Leaderboard
    </ion-button>
  </div>
  <div [hidden]="quizHidden">
    <!-- <p size="small" (click)="hideQuiz(false)"> Back </p> -->
    <app-quiz-selection class="test" [closeQuiz]="hideQuiz">
    </app-quiz-selection>
  </div>
</ion-content>

<ion-footer class="footer">
  <ion-list [hidden]="menuHidden">
    <ion-item>
      <ion-avatar>
        <ion-fab vertical="bottom" horizontal="start">
          <ion-fab-button class="pp" (click)="navToProf()">
            <ion-icon name="person-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-avatar>
      <p class="move2">
        <strong> Copyright &copy; Seth Sharp - 2021 </strong>
      </p>
    </ion-item>
  </ion-list>
</ion-footer>
